.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $m-size;

  @media only screen and (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }

  &__item {
    margin-bottom: $s-size;
    
    @media only screen and (min-width: $desktop-breakpoint) {
      margin-right: $s-size;
      margin-bottom: 0;
    }
  }
}