* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.6;
}

.is-active {
  font-weight: $bold;
}